APP_NAME=SIMON
APP_VERSION=0.1.0
DEBUG=true
HOST=0.0.0.0
PORT=8000
API_PREFIX=/api/v1
CORS_ORIGINS=["*"]

DB_DRIVER=mysql+aiomysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=mystu
